package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.service.IService;
import ${mainPath}.common.utils.PageUtils;
import ${package}.${moduleName}.entity.${className}Entity;

import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {
    /**
     * 添加
     * @param ${classname}
     */
    int save(${className} ${classname});

    /**
     * 修改
     * @param ${classname}
     */
    int update(${className} ${classname});

    /**
     * 删除
     * @param ${classname}
     */
    int delete(Long id);


    /**
     * 列表
     * @param params
     * @return
     */
    PageResult<${className}> findAll(Map<String, Object> params);

}

